.container {
  justify-content: center;

  display: grid;
  grid-template-columns: 2fr 1fr;

  min-height: calc(100vh - 70px);

  background-color: #fff;

  position: relative;

  padding: 20px;

  gap: 10px;
}
