.header {
  background-color: rgb(125, 135, 141);
  width: 100%;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 70px;

  display: flex;
  align-items: center;

  padding: 0 50px;
}
